<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-5" id="about">
                <h5>Online Test &copy; <small>2023</small></h5>
                <br>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime incidunt labore officia possimus
                    asperiores ut ratione, perferendis velit a doloribus vero veniam at assumenda quidem voluptatem
                    debitis suscipit atque quas voluptatibus sequi enim explicabo perspiciatis mollitia. Molestias omnis
                    vero nesciunt deleniti quidem numquam nam, illo molestiae non error sapiente fugiat rem laborum
                    cupiditate quae nihil. Corrupti, sunt, architecto incidunt neque, illo vel nulla amet iste quaerat
                    tempora culpa cum unde. Nihil tenetur ad distinctio doloribus, esse adipisci. Recusandae, iure! Quos
                    beatae dignissimos facere expedita ea voluptatum obcaecati quaerat, magni natus voluptatem
                    necessitatibus asperiores! Voluptates sequi officiis nam facilis quibusdam id.
                </p>
                <br>
                <ul class="nav">
                    <li class="nav-item"><a href="https://www.facebook.com/" class="nav-link" target="_blank"><i class="fa fa-facebook fa-lg"></i></a></li>
                    <li class="nav-item"><a href="https://www.linkedin.com/" class="nav-link" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a></li>
                    <li class="nav-item"><a href="https://www.github.com/" class="nav-link" target="_blank"><i class="fa fa-github fa-lg"></i></a></li>
                    <li class="nav-item"><a href="https://www.instagram.com/" class="nav-link" target="_blank"><i class="fa fa-instagram fa-lg"></i></a></li>
                </ul>
                <br>
            </div>
            <div class="col-md-2" id="contact">
                <h6 class="text-md-right">Contact Us</h6>
                <hr>
            </div>
            <div class="col-md-5">
                <form>
                    <fieldset class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                    </fieldset>
                    <fieldset class="form-group">
                        <textarea class="form-control" id="exampleMessage" placeholder="Message"></textarea>
                    </fieldset>
                    <fieldset class="form-group text-xs-right">
                        <button style="color: #57b846;" type="submit" class="btn btn-secondary-outline">Send</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</footer>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tilt.js/1.0.3/tilt.jquery.min.js"></script>

<script>
    $('.js-tilt').tilt({
        scale: 1.1
    })
</script>

<script src="static/js/quiz.js"></script>

<script src="static/js/main.js"></script>